.code-header {
  z-index: 2;
  display: flex;
  padding: 12px 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 0.5em;
  margin-bottom: calc(-1 * calc(1em + 0.5vw) + -1px);
  background-color: #3b3b3b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.code-header .file-name-container {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}

.code-header .file-name {
  padding-bottom: 1em;
  margin: 0;
  font-family: monospace, monospace;
  font-size: 1.1em;
  font-weight: 400;
  color: #bcbcbc;
  word-break: break-all;
  transition: color ease 0.3s;
}

.copy-code-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.5em;
}

.copy-code-button {
  display: flex;
  padding: 0.4em 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #e7e7e7;
  cursor: pointer;
  background-color: #616161;
  border: 0;
  border-radius: 5px;

  &::before {
    content: "Copy";
  }

  &::after {
    width: 1em;
    margin-left: 4px;
    content: "📋";
  }

  // This class will be toggled via JavaScript
  &.copied {
    &::before {
      content: "Copied!";
    }

    &::after {
      content: "✔️";
    }
  }
}

.copy-code-button:hover {
  color: #000;
  background-color: #adadad;
}
